*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: hotpink;
}
h1:hover{
    color: aqua;
    text-shadow: 0px 3px 3px orange;
}
.card{
    margin: 0 auto;
    width: 350px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 3px 3px hotpink;
    transition: 0.3s;
    font-size: 0;
}
.card:hover{
    box-shadow:0px 10px 20px hotpink;
}
.card-head #result{
    width: 336px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    padding: 0 5px;
    letter-spacing: 2px;
    background-color: cadetblue;
    color: white;
}
.card-head #result:hover{
    background-color: cyan;
}
.btn{
    width: 87px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    background-color: beige;
    color:black;
}
.btn:hover{
    background-color: cyan;
}
.btn-style{
    background-color: #5F4886;
    color: white;
}
